## Assignment 3

### Problem Statement

Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset.

Provide the codes with outputs and explain everything that you do in this step.

In [93]:
# Import the required libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn import datasets

In [94]:
# Read the iris.csv file
iris = pd.read_csv("iris.csv")

# Displaying iris Dataset
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [95]:
# Displaying First five Rows of IRIS Dataset
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [96]:
# Displaying Last five Rows of IRIS Dataset
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [97]:
# Renaming Column Names

iris.rename(columns={
    'sepal_length': 'Sepal-Length (in cm)',
    'sepal_width': 'Sepal-Width (in cm)',
    'petal_length': 'Petal-Length (in cm)',
    'petal_width': 'Petal-Width (in cm)',
    'species': 'Species'
}, inplace=True)


# Displaying iris Dataset
iris

,Sepal-Length (in cm),Sepal-Width (in cm),Petal-Length (in cm),Petal-Width (in cm),Species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [98]:
# Checking For Null Values
iris.isnull().sum()

Sepal-Length (in cm)    0
Sepal-Width (in cm)     0
Petal-Length (in cm)    0
Petal-Width (in cm)     0
Species                 0
dtype: int64

In [99]:
# Calculating the all the Statistical Data for the same
iris.describe()

,Sepal-Length (in cm),Sepal-Width (in cm),Petal-Length (in cm),Petal-Width (in cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [100]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Sepal-Length (in cm)  150 non-null    float64
 1   Sepal-Width (in cm)   150 non-null    float64
 2   Petal-Length (in cm)  150 non-null    float64
 3   Petal-Width (in cm)   150 non-null    float64
 4   Species               150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [101]:
iris.shape

(150, 5)

In [102]:
# Calculating the Mean Values

mean_values = iris.mean(numeric_only=True)
print(mean_values)

Sepal-Length (in cm)    5.843333
Sepal-Width (in cm)     3.054000
Petal-Length (in cm)    3.758667
Petal-Width (in cm)     1.198667
dtype: float64

In [103]:
# Calculating the Median Values

median_values = iris.median(numeric_only=True)
print(median_values)

Sepal-Length (in cm)    5.80
Sepal-Width (in cm)     3.00
Petal-Length (in cm)    4.35
Petal-Width (in cm)     1.30
dtype: float64

In [104]:
# Calculated mode only for categorical data
iris.Species.mode()

0        Iris-setosa
1    Iris-versicolor
2     Iris-virginica
Name: Species, dtype: object

In [105]:
# To count how many times each species appears

species_counts = iris['Species'].value_counts()
print("Species frequency count:")
print(species_counts)

Species frequency count:
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [106]:
iris.groupby(['Species']).count()

,Sepal-Length (in cm),Sepal-Width (in cm),Petal-Length (in cm),Petal-Width (in cm)
Species,,,,
Iris-setosa,50,50,50,50
Iris-versicolor,50,50,50,50
Iris-virginica,50,50,50,50

**STANDARD DEVIATION**

In [107]:
# Calculating the Standard Deviation Values

std_values = iris.std(numeric_only=True)
print(std_values)

Sepal-Length (in cm)    0.828066
Sepal-Width (in cm)     0.433594
Petal-Length (in cm)    1.764420
Petal-Width (in cm)     0.763161
dtype: float64